<ion-view>

	<div class="bar bar-header bar-light">
	   <a class="button icon-left button-clear ion-chevron-left" ng-click="kembali3()">MENU</a>
	  	<h1 class="title">TENTANG</h1>
	</div>

<ion-pane>

	<ion-content>
	 <br><br>
	 <ion-slide-box>
	 <ion-slide>
      <div class="list card">
        <ion-item class="profile-item">
          <div class="profile-picture big-profile-picture">
            <img src="img/devpic.jpg">
          </div>
          
         	<h3 class="profile-name dark" align="center">Developer</h3>
			<h5 class="profile-info"align="center"></h5>
        </ion-item>

   
          
  <div class="item item-text-wrap">
       	<p class="aboutApp">
       			Luki Firmansyah
       	</p>
       
 </div>
       
      </div>
      </ion-slide>

<ion-slide>
   <div class="list card">
        <ion-item class="profile-item">
          <div class="profile-picture big-profile-picture">
            <img src="img/ICON.jpg">
          </div>
          
         	<h3 class="profile-name dark" align="center">BOGOR KULINER</h3>
			<h5 class="profile-info"align="center">Enaknya Kuliner Bogor</h5>
        </ion-item>

       
  <div class="item item-text-wrap">
       	<p class="aboutApp">
       			Bogor Kuliner merupakan aplikasi android yang menyajikan informasi mengenai tempat makanan yang berada di wilayah kota Bogor.
       	</p>

       	</div>
      </div>
</ion-slide>
</ion-slide-box>



    </ion-content>
  </ion-pane>


  
</ion-view>