 <ion-view>

	<ion-content >

		<div class="row1">
		<div class="profile-picture big-profile-picture">
            <img src="img/ICON.jpg">

		
		   			  	   	 
		</div>		
		 <h3 align="center">BOGOR KULINER</h3>
		   	  <h5 align="center">Enaknya Kuliner Bogor</h5>
		   	
	</div>
	<div>



		<div class="row" style="padding-top:20px">
        	<div class="col text-center">
			   <button class="button button-stable" ng-click="daftar()">Daftar Makanan</button>
        	</div>
     	 </div>

  		<div class="row">
        	<div class="col text-center">
			   <button class="button button-stable" ng-click="about()">Tentang</button>
       		</div>
      	</div>

      	<div class="row">
        	<div class="col text-center">
			   <button class="button button-stable" ng-click="exit()">Keluar</button>
       		 </div>
      	</div>
  
	</ion-content>
</ion-view>