<ion-view>

  <div class="bar bar-header bar-light">
     <a class="button icon-left button-clear ion-chevron-left" ng-click="kembali1()">MENU</a>
     <h1 class="title">Daftar Makanan</h1>
  </div>


  <ion-content>
   <br><br>

      <ion-list>
        <ion-item ng-repeat="tempats in tempat">
          <div class="row">
            <div class="col col-75">
              <h3> {{tempats.nama_tempat}}</h3>
              <P>{{tempats.address}}</P>
            </div> 

            <div class="col">  
             <a class="button icon-right button-clear ion-chevron-right button-stable" ng-click="menu3({{tempats.id_tempat}})"></a>
            </div>
          </div>
        </ion-item>
           
      </ion-list>
  </ion-content>
</ion-view>