<div class="bar bar-header bar-light">
   <a class="button icon-left button-clear ion-chevron-left" ng-click="kembali2()">Kembali</a>
</div>

<ion-tabs class ="tabs-top tabs-icon-top tabs-light">
    <ion-tab title="DESKRIPSI" icon="ion-home" href="#/menu/tab1">
      <ion-nav-view name="deskripsi-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="GALERI" icon="ion-star" href="#/menu/tab2">
      <ion-nav-view name="galeri-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="MAP" icon="ion-gear-a" href="#/menu/tab3">
      <ion-nav-view name="map-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>








<!--<ion-view>
<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item" href="#/menu/tab1">
        <i class="icon ion-home"></i>
      <ion-nav-view name="Deskripsi-tab"></ion-nav-view>
      </a>
      <a class="tab-item" href="#/menu/tab2">
        <i class="icon ion-star"></i>
        <ion-nav-view name="Galeri-tab"></ion-nav-view>
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        
      </a>
    </div>
  </div>
  

</ion-view> -->