<ion-view>
	<ion-content>
	 <div class="item item-divider">
		Alamat
</div>
<div class="card">
  <div class="item item-text-wrap">
<p>{{alamat}}</p>
</div>
</div>

<div class="item item-divider">
No Telp
</div>
<div class="card">
  <div class="item item-text-wrap">
<p>{{notelp}}</p>
</div>
</div>


<div class="item item-divider">
	Deskripsi
</div>
<div class="card">
  <div id = "des" class="item item-text-wrap">
<p>{{deskripsi2}}</p>
</div>
</div>


	</ion-content>
</ion-view>

 