<ion-view>

  <ion-pane>
 
    <ion-content class="has-header padding">
   
     <div class="row responsive-md">
                    <div class="col col-25" ng-repeat="gambars in gambar">
   
					<img ng-src="http://bogorkuliner.16mb.com/data_makanan/images/{{gambars.link_img}}/{{gambars.img}}" ng-click="showImages($index)" width="100%" />

				</div>
			</div>

    <!-- <a id = "galeri">
      <ion-scroll direction="y">
        <img ng-repeat="gambars in gambar" ng-src="http://localhost/data_makanan/images/{{gambars.link_img}}/{{gambars.img}}" ng-click="showImages($index)" class="image-list-thumb"/>
      </ion-scroll>
    </a> -->

       
    </ion-content>
  </ion-pane>
</ion-view>