/* Empty. Add your own CSS if you like */
.scroll{
	height: 100%;
}
#map{
	height: 100%;
	width: 100%;
}

/*Button Menu*/
.row .button{
	width: 50%;

}

/*Background atas*/
.row1{
	background:#FF9500; 
	padding-top:30px; 
	padding-bottom:0px;
}

.row1 h5{

	padding-bottom:20px;
	 color:#ffffff;
}

.bar {
  background-color: #FF9500!important;
}

.profile-item{

  background:#FF9500;
}


.profile-picture {
  border: 5px solid rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  width: 128px;
  height: 128px;
  overflow: hidden;
}

.profile-picture img {
  width: 128px;
  border-radius: 100%;
}

.profile-name {
  padding-top: 10px;
  font-size: x-large !important;
  font-weight: bold !important;
  text-transform: capitalize;
}


.aboutApp{

    text-align: center;
}


.slide{
  height:100vh;}

/*#galeri{
    height: calc(50vw - 15px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #FFF;
    position: relative;
    display: block;
}*/


/*.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}*/
 

 #des{

  text-align: justify;
 }
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background: transparent !important;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
 
.slider {
    width: 100%;
    height: 100%;
}